.container {
    width: 400px;
    height: 400px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner1 {
    width: 360px;
    height: 360px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner2 {
    width: 320px;
    height: 320px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner3 {
    width: 280px;
    height: 280px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner4 {
    width: 220px;
    height: 220px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner5 {
    width: 160px;
    height: 160px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner6 {
    width: 100px;
    height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner7 {
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner8 {
    width: 20px;
    height: 20px;
    background: black;
}